@use "page-menu";
@use "variables";
@use "header";
@use "hero";
@use "button";
@use "flex-cook";
@use "background-present";
@use "hero-grid";
@use "footer";
@use "breadcrumbs";
@use "nav-gallery";

html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

.page {
  margin: 0 auto;
  color: #27213c;
  font-family: $font-playfair;
  font-size: 14px;
}

@media screen and(min-width: 700px) {
  .page {
    font-size: 17px;
  }
  .centering {
    margin: 0 auto;
  }
}
