@use "variables";


.header {
  display: flex;
  flex-direction: column-reverse;
  background-image: url(/images/header.jpeg);
  background-size: cover;
}

@media screen and(min-width: 700px) {
  .header {
    display: block;
    background-image: none;
  }
}
