@use "page-menu";
@use "base";
@use "variables";
@use "hero";
@use "button";
@use "flex-cook";
@use "background-present";
@use "hero-grid";
@use "footer";
@use "breadcrumbs";
@use "nav-gallery";

.header {
  display: flex;
  flex-direction: column-reverse;
  background-image: url(/images/header.jpeg);
  background-size: cover;
}

@media screen and(min-width: 700px) {
  .header {
    display: block;
    background-image: none;
  }
}
