@use "page-menu";
@use "base";
@use "variables";
@use "header";
@use "hero";
@use "button";
@use "flex-cook";
@use "background-present";
@use "hero-grid";
@use "footer";
@use "breadcrumbs";




.navigation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    justify-content: center;
    padding-bottom: 30px;
    gap: 5px;
  }
  .nav-gallery {
    position: relative;
    width: 100%;
    &__link {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: rgb(39, 33, 60, 0.5);
      color: $ck-bright-font;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
    }
    &__link:hover,
    &__link:focus {
      background-color: rgb(209, 52, 91, 0.5);
    }
    &__image {
      display: block;
      border-radius: 5px;
      width: 100%;
      height: auto;
    }
  }