@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Barvy stránky*/
/* Písmo stránky */
/****************************************************
                       Mobile
/****************************************************/
.page {
  margin: 0 auto;
  color: #27213c;
  font-family: "Merriweather", serif;
  font-size: 13px;
}

.header {
  display: flex;
  flex-direction: column-reverse;
  background-image: url(images/header.jpeg);
  background-size: cover;
}

.menu__list {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
.menu__link {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #27213c;
}
.menu__link:hover, .menu__link:focus, .menu__link:active {
  background-color: rgba(236, 112, 64, 0.3);
  color: #fbfef9;
}

.hero__text {
  border-bottom: 1px solid #27213c;
}
.hero__small-title {
  display: none;
}
.hero__main-title {
  color: #d1345b;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Playfair Display", serif;
}

.button {
  display: none;
}
.button__link {
  padding: 10px;
  border-radius: 5px;
  background-color: #ec7040;
  color: #fbfef9;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  box-shadow: 9px -8px 5px -7px rgba(39, 33, 60, 0.09);
}
.button__link:hover, .button__link:focus {
  background-color: #d1345b;
}

.flexbox {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
}

.flexbox-cook__image {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.text {
  padding-left: 15px;
  font-family: "Playfair Display", serif;
}
.text__small-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 10px;
}
.text__title {
  margin-top: 0;
  margin-bottom: 15px;
  color: #d1345b;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 16px;
}

.background-present {
  background-image: url(uvod/darek.jpeg);
  background-size: cover;
  background-position: center;
  background-color: #eec5d9;
}

.background-off {
  display: flex;
  margin: 30px 0 0 30px;
  padding: 10px;
  gap: 30px;
}
.background-off__discount {
  flex-shrink: 0;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  background-color: #d1345b;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  box-shadow: 2px -1px 15px 1px rgba(39, 33, 60, 0.26);
  color: #fbfef9;
}
.background-off__title {
  margin: 30px 0 0 0;
}
.background-off__information {
  font-size: 8px;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  margin-top: 30px;
  padding: 10px;
  gap: 10px;
}

.text__paragraph {
  grid-column: 1;
  grid-row: 1/3;
  align-self: center;
  text-align: left;
  font-family: "Playfair Display", serif;
}

.cake1 {
  width: 100%;
  grid-column: 3;
  grid-row: 2;
  --s: 10px;
  padding: var(--s);
  border: calc(2 * var(--s)) solid rgba(0, 0, 0, 0);
  outline: 1px solid #000;
  outline-offset: calc(-1 * var(--s));
  background: conic-gradient(from 90deg at 1px 1px, rgba(0, 0, 0, 0) 25%, #000 0);
}

.cake2 {
  width: 100%;
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  justify-self: left;
  --s: 10px;
  padding: var(--s);
  border: calc(2 * var(--s)) solid rgba(0, 0, 0, 0);
  outline: 1px solid #000;
  outline-offset: calc(-1 * var(--s));
  background: conic-gradient(from 90deg at 1px 1px, rgba(0, 0, 0, 0) 25%, #000 0);
}

.cake3 {
  width: 100%;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  --s: 10px;
  padding: var(--s);
  border: calc(2 * var(--s)) solid rgba(0, 0, 0, 0);
  outline: 1px solid #000;
  outline-offset: calc(-1 * var(--s));
  background: conic-gradient(from 90deg at 1px 1px, rgba(0, 0, 0, 0) 25%, #000 0);
}

.cake4 {
  width: 100%;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  --s: 10px;
  padding: var(--s);
  border: calc(2 * var(--s)) solid rgba(0, 0, 0, 0);
  outline: 1px solid #000;
  outline-offset: calc(-1 * var(--s));
  background: conic-gradient(from 90deg at 1px 1px, rgba(0, 0, 0, 0) 25%, #000 0);
}

.text__autor {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 10px;
  font-style: italic;
}

.footer {
  margin-top: 30px;
  padding: 10px;
  font-size: 10px;
  text-align: center;
  background-color: #27213c;
  color: #fbfef9;
}
.footer__link {
  color: #eec5d9;
}
.footer__link:hover, .footer__link:focus {
  color: #d1345b;
}

/****************************************************
                        Konec mobilu
/****************************************************/
/*--------------------Tablet-----------------*/
@media screen and (min-width: 700px) {
  .header {
    display: block;
    background-image: none;
  }
  .menu {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 700px;
  }
  .menu__list {
    display: flex;
  }
  .menu__link {
    padding: 20px 30px;
    text-transform: capitalize;
  }
  .menu__link:hover, .menu__link:focus, .menu__link:active {
    border-radius: 5px;
    background-color: #ec7040;
  }
  .hero {
    padding: 60px 150px;
    background-image: url(images/header.jpeg);
    background-size: cover;
    background-position: center;
    background-color: #eec5d9;
  }
  .hero__text {
    border-bottom: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
  }
  .hero__main-title {
    margin: 0;
    font-size: 45px;
    font-weight: 400;
  }
  .hero__small-title {
    display: inline-block;
    margin: 10px;
    font-size: 15px;
  }
  .button {
    display: block;
    margin-top: 40px;
    text-align: center;
  }
  .button__link {
    padding: 15px 70px;
    font-size: 17px;
  }
  .centering {
    margin: 0 auto;
  }
  .flexbox {
    display: flex;
    margin-top: 80px;
  }
  .flexbox-cook {
    flex: 1 0 50%;
  }
  .text {
    flex-grow: 1;
    padding-left: 30px;
  }
  .text__small-title {
    font-size: 15px;
  }
  .background-present {
    margin-top: 80px;
    height: 320px;
  }
  .background-off {
    align-items: center;
    padding: 60px 0;
  }
  .background-off__discount {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    font-size: 50px;
    line-height: 50px;
    -webkit-animation: shake 1s;
            animation: shake 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  .background-off__title {
    font-size: 30px;
  }
  .background-off__information {
    font-weight: 300;
    font-size: 12px;
  }
  .hero-grid {
    margin-top: 80px;
  }
  .text__paragraph {
    font-size: 20px;
  }
  .text__autor {
    margin-top: 5px;
    padding-bottom: 50px;
  }
  .footer {
    margin-top: 80px;
    padding: 30px;
  }
}
/****************************************************
                        Konec tabletu
/****************************************************/
@media screen and (min-width: 1024px) {
  .page {
    font-size: 16px;
  }
  .menu {
    max-width: 1100px;
  }
  .menu__link {
    font-size: 20px;
  }
  /*--------------------- Hlavička-------------------------- */
  .hero {
    padding: 80px 250px;
  }
  .hero__small-title {
    font-size: 20px;
  }
  .button__link {
    font-size: 17px;
  }
  /*---------------------Výběr hotových dortů--------------------- */
  .text {
    font-size: 20px;
  }
  .text__small-title {
    font-size: 15px;
  }
  /*---------------------Sleva/dárek-------------------------- */
  .background-present {
    height: 320px;
  }
  .background-off__title {
    font-size: 40px;
  }
  /*-----------------Hero Grid cake---------------*/
  /*------------------------Footer----------------*/
}
/****************************************************
                        Galerie
/****************************************************/
/*************************Navigace********************/
/*
.nav__list {
    padding: 10px 16px;
    list-style: none;
}
.nav__item {
    display:inline;
}
.nav__item+.nav__item:before {
    content: "/\00a0";
    color: $ck-primary;
}
.nav__link {
    color: $ck-button;
    font-size: 18px;
}
*//*# sourceMappingURL=style.css.map */