<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Zakázkové pečení | {{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap"
      rel="stylesheet"
/>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>

  <body>
    <!-----------------Menu hlavičky-------------------->
    <div class="page">
      <main>
        <header class="header">
          <nav class="menu">

            <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
            <div class="mobile-title">
              <label for="menu-checkbox" class="menu__toggler">☰</label>

              <a class="menu__title-link" href="/"> <h1 class="menu__title">Zakázkové pečení dortů</h1></a>
            </div>
            <ul class="menu__list">
              <li class="menu__item {{ "menu__item--active" if page.fileSlug === ""}}">
                <a class="menu__link {{ "menu__link--active" if page.fileSlug === ""}}" href="/">Úvod</a>
              </li>
            </ul>

            <ul class="menu__list">
              <li class="menu__item {{ "menu__item--active" if page.fileSlug === "galerie"}}">
                <a class="menu__link {{ "menu__link--active" if page.fileSlug === "galerie"}}" href="/galerie/">Galerie</a>
              </li>
            </ul>

            <ul class="menu__list">
              <li class="menu__item {{ "menu__item--active" if page.fileSlug === "prichute"}}">
                <a class="menu__link {{ "menu__link--active" if page.fileSlug === "prichute"}}" href="/prichute/">Příchutě</a>
              </li>
            </ul>

            <ul class="menu__list">
              <li class="menu__item {{ "menu__item--active" if page.fileSlug === "cenik"}}">
                <a class="menu__link {{ "menu__link--active" if page.fileSlug === "cenik"}}" href="/cenik/">Ceník</a>
              </li>
            </ul>

            <ul class="menu__list">
              <li class="menu__item {{ "menu__item--active" if page.fileSlug === "objednavka"}}">
                <a class="menu__link {{ "menu__link--active" if page.fileSlug === "objednavka"}}" href="/objednavka/">Objednávka</a>
              </li>
            </ul>

            <ul class="menu__list">
              <li class="menu__item {{ "menu__item--active" if page.fileSlug === "kontakty"}}">
                <a class="menu__link {{ "menu__link--active" if page.fileSlug === "kontakty"}}" href="/kontakty/">Kontakty</a>
              </li>
            </ul>
          </nav>

          <!-----------------Pozadí v hlaviččce-------------------->
          <div class="hero">
            <div class="hero__text">
              <p class="hero__small-title">Sladké & čerstvé</p>
              <h1 class="hero__main-title">Zakázkové pečení dortů</h1>
              <p class="hero__small-title">Pro každou příležitost</p>
            </div>
            <div class="button">
              <a class="button__link button--behave" href="/galerie/">Galerie</a>
            </div>
          </div>
        </header>

        {{ content | safe }}

        <footer>
          <div class="footer">
            <p>&#169; 2022 / Zakázkové pečení dortů</p>
            <p>
            Zdroje fotografií:
            <a class="footer__link" href="https://unsplash.com"
              >unsplash.com ,</a
            >
              <a class="footer__link" href="https://freepik.com">freepik.com</a>
            </p>
          </div>
        </footer>
      </main>
    </div>
  </body>
</html>