@use "../abstracts/variables";

.contact-flex {
  display: flex;
  margin: 40px 0 80px 0;
  justify-content: right;
}

.contact {
  &__list {
    list-style: none;
    justify-content: right;
  }
  &__title {
    margin: 0;
    font-weight: 400;
    color: #d1345b;
  }
  &__link {
    text-decoration: none;
    color: #ec7040;
  }
  &__link:hover,
  &__link:focus {
    color: #d1345b;
  }
}
.contact-map {
   position: relative;
  z-index: -9999;
}

.contact-right {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 calc(100% / 2);
}

@media screen and (max-width: 700px) {
  .contact-flex {
    display: block;
    text-align: center;
    margin-top: 0;
    padding: 30px 10px 10px 10px;
  }
  .contact-map__image {
    min-width: 300px;
  }
  .contact__list {
    text-align: left;
  }
}



