@use "../abstracts/variables";

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 30px 80px 30px;
}

.grid-gallery__image {
  width: 100%;
  border-radius: 5px;
}
.grid-gallery__image:hover {
  width: 101%;
}
.gallery-header {
  grid-column: 1/-1;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: variables.$ck-primary;
}

.centering {
  margin: 0 auto;
  max-width: 1100px;
}
