@use "../abstracts/variables";


.flexbox-price {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.photo-price__image {
  min-width: 100%;
  display: block;
}
.table-box {
  max-width: 383px;
  box-shadow: 7px -5px 34px -17px rgba(39, 33, 60, 0.5);
}
.table {
  &__title {
    padding: 50px;
    margin: 0;
    border-bottom: 0.5px solid rgb(39, 33, 60, 0.5);
    text-align: center;
    color: #d1345b;
    text-transform: uppercase;
  }
  &__left {
    padding-left: 10px;
    text-align: left;
  }
  &__right {
    padding: 5px 5px 5px 100px;
    text-align: right;
  } 
}
.table--font-size {
  font-size: 17px;
  padding: 10px;
  margin: 0;
  color: #d1345b;
  text-transform: uppercase;
}

.button--price-list {
  margin-bottom: 40px;
}

@media screen and (max-width: 700px) {
  .flexbox-price {
    margin-top: 0;
  }
  .table-box {
    max-width: 339px;
    margin-top: 50px;
  }
  .button--price-list {
    display: block;
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center; 
  }
  .photo-price__image {
    display: none;
  }
}
