@use "../abstracts/variables";

.nav {
  &__list {
    list-style: none;
    padding-left: 0;
  }
  &__item + &__item:before {
    content: "/\00a0";
    color: variables.$ck-primary;
  }
  &__item {
    display: inline;
    font-size: 13px;
  }
  &__link {
    color: variables.$ck-button;
    font-size: 14px;
  }
  &__link:hover,
  &__link:focus {
    color: variables.$ck-secondary;
  }
}

@media screen and (min-width: 700px) {
  .nav {
    margin-top: 30px;
  }
}
