@use "../abstracts/variables";

.footer {
  padding: 10px;
  font-size: 12px;
  text-align: center;
  background-color: variables.$ck-secondary;
  color: variables.$ck-bright-font;

  &__link {
    color: variables.$ck-background;
  }
  &__link:hover,
  &__link:focus {
    color: variables.$ck-primary;
  }
}
@media screen and (min-width: 700px) {
  .footer {
    padding: 30px;
    margin-top: 80px;
  }
}
