@use "../abstracts/variables";

.menu {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  text-align: right;
 
  &__checkbox {
    position: absolute;
    left: -9999px;
  }
  &__toggler {
    margin: 10px 10px 5px 0;
    width: 40px;
    height: 40px;
    background-color: rgb(236, 112, 64, 0.7);
    background-position: center;
    border-radius: 50%;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
  }
  &__toggler:hover {
    background-color: #d1345b;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    font-weight: 400;
    color: #d1345b;
    text-transform: uppercase;
    font-size: 17px;
  }
  &__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(238, 197, 217,);
  }
  &__item {
    border-bottom: 1px solid white;
  }
  &__link {
    display: block;
    padding: 15px 20px 15px 10px;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    color: #27213c;
    text-transform: uppercase;
  }
  &__link:hover {
    background-color: rgb(236, 112, 64, 0.5);
    color: #fbfef9;
  }
}

.toggler {
  display: flex;
  justify-content: end; 
}
.menu__item--active {
  background-color: rgb(236, 112, 64, 0.5);
  border-radius: 5px;
  color: #fbfef9;
}
.menu__link--active {
  color: #fbfef9;
}
.menu__title-link {
  text-decoration: none;
}
@media screen and (max-width: 699px){
  .menu__checkbox:checked ~ .menu__list {
    display: block; /*specificita*/
  }
}

@media screen and (min-width: 700px) {
  .menu {
    padding: 0;
    text-align: center;
    background-color: #ffff;
    &__toggler {
      display: none;
    }
    &__list {
      display: inline-block;
      background-color: #fbfef9;
    }
    &__item {
      border-bottom: 0;
    }
    &__link {
      padding: 15px 18px;
    }
    &__link:hover {
      background-color: #ec7040;
      color: #fbfef9;
      border-radius: 5px;
    }
  }

  .menu__item--active {
    background-color: rgb(236, 112, 64);
    border-radius: 5px;
    color: #fbfef9;
  }
  .menu__link--active {
    color: #fbfef9;
  }
}
