@use "../abstracts/variables";


html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  min-height: 100vh;
}

.page {
  margin: 0 auto;
  color: #27213c;
  font-family: variables.$font-playfair;
  font-size: 14px;
}


@media screen and (min-width: 700px) {
  .page {
    font-size: 17px;
  }
  .centering {
    margin: 0 auto;
    max-width: 1100px;
  }
}
